body {
    background-color: var(--roxo-fundo);
    font-family: "Pixels";
    color: black;
}

#nome-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#nome-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#nome-header img {
    width: 150px;
}

#nome-header h1 {
    font-size: 32px;
}

#nome-input {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
}

.nome-button {
    background-color: var(--azul-escuro);
    color: whitesmoke;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    border: 2px solid currentColor;
}

#nome-button-con:disabled {
    background-color: whitesmoke;
    color: #333;
    cursor: auto;
    border: 2px solid transparent;
}

.nome-button:hover {
    color: black;
    background-color: var(--azul-claro);
    border: 2px solid black;
    transition: 0.1s;
}

@media screen and (max-width: 395px){
    #nome-header img{
        width: 135px;
    }
    #nome-header h1{
        font-size: 28px;
    }
    #nome-input, .nome-button {
        width: 75%;
    }
}